@using RecipeBook.Core.Domain.Recipes
@using RecipeBook.Core.Domain.Units

@inject IJSRuntime _js;

<div class="ingredients bg-white shadow">
    <FetchList TItem="Ingredient"
               Context="ingredients"
               Url="@($"/api/v1/recipes/{RecipeName}/ingredients")"
               SetSaving="@SetSaving"
               CreateNewItemText="Lägg till ingrediens"
               CreateNewItem="CreateNewIngredient">
        <Header>
            <h2 class="p-4">Ingredienser</h2>
        </Header>
        <ItemsTemplate>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 p-0">
                        <ol class="no-style pe-1">
                            @foreach (Ingredient ingredient in ingredients)
                            {
                                <li id="@($"unit-{ingredient.Id}")" class="mb-3" style="height: 5px">
                                    <UnitView @bind-Unit="@ingredient.Amount"/>
                                </li>
                            }
                        </ol>
                    </div>
                    <div class="col-sm-9 p-0">
                        <ol class="no-style text-start ps-1">
                            @foreach (Ingredient ingredient in ingredients)
                            {
                                <li id="@($"ingredient-{ingredient.Id}")" class="mb-3">
                                    <IngredientView Url="@($"/api/v1/recipes/{RecipeName}/ingredients")"
                                                    Ingredient="@ingredient"
                                                    SetSaving="@SetSaving"/>
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </ItemsTemplate>
    </FetchList>
</div>

@code {
#nullable enable

    [Parameter]
    public string RecipeName { get; set; } = null!;

    [Parameter]
    public EventCallback<(string, LoadStatus)> SetSaving { get; set; } = EventCallback<(string, LoadStatus)>.Empty;

    private Ingredient CreateNewIngredient(int _)
    {
        return new() { Name = "Skriv ingrediens här", Amount = new Mass(0) };
    }

}