@using RecipeBook.Core.Domain.Recipes

<div class="ms-5">
    <FetchList TItem="Step"
               Context="steps"
               Url="@($"/api/v1/recipes/{RecipeName}/steps")"
               SetSaving="@SetSaving"
               CreateNewItemText="Lägg till steg"
               CreateNewItem="CreateNewStep">
        <Header>
            <h2>Steg</h2>
        </Header>
        <ItemsTemplate>
            <ol class="no-style ps-2">
                @foreach (Step step in steps)
                {
                    @switch (step)
                    {
                        case TimeStep timeStep:
                            <StepView Url="@($"/api/v1/recipes/{RecipeName}/steps")"
                                      Step="@timeStep"
                                      SetSaving="@SetSaving">
                                <TimerView Duration="timeStep.Duration"/>
                            </StepView>
                            break;
                        default:
                            <StepView Url="@($"/api/v1/recipes/{RecipeName}/steps")"
                                      Step="@step"
                                      SetSaving="@SetSaving"/>
                            break;
                    }
                }
            </ol>
        </ItemsTemplate>
    </FetchList>
</div>

@code {
#nullable enable

    [Parameter]
    public string RecipeName { get; set; } = null!;

    [Parameter]
    public EventCallback<(string, LoadStatus)> SetSaving { get; set; } = EventCallback<(string, LoadStatus)>.Empty;

    private Step CreateNewStep(int number)
    {
        return new() { Number = number, Instruction = "Skriv instruktion här" };
    }

}