@using RecipeBook.Core.Domain.Recipes

<div class="ms-5 mt-5">
    <FetchList TItem="UsedOccasion"
               Context="usedOccasions"
               Url="@($"/api/v1/recipes/{RecipeName}/usedoccasions")"
               SetSaving="@SetSaving">
        <Header>
            <h2>Användningstillfällen</h2>
        </Header>
        <ItemsTemplate>
            <ol class="no-style ps-2">
                @foreach (UsedOccasion usedOccasion in usedOccasions!)
                {
                    <UsedOccasionView Url="@($"/api/v1/recipes/{RecipeName}/usedoccasions")"
                                      UsedOccasion="@usedOccasion"
                                      SetSaving="@SetSaving"
                                      DeleteItem="() => DeleteUsedOccasion(usedOccasions, usedOccasion)"/>
                }
            </ol>
        </ItemsTemplate>
        <CreateNewButtonTemplate Context="usedOccasions">
            <CreateNewItemButton Items="usedOccasions"
                                 CreateNewItem="CreateNewUsedOccasion"
                                 CreateNewItemText="Lägg till användning"/>
        </CreateNewButtonTemplate>
    </FetchList>
</div>

@code {
#nullable enable

    [Parameter]
    public string RecipeName { get; set; } = null!;

    [Parameter]
    public EventCallback<(string, LoadStatus)> SetSaving { get; set; } = EventCallback<(string, LoadStatus)>.Empty;

    private UsedOccasion CreateNewUsedOccasion(int number)
    {
        return new() { Date = DateTime.Now };
    }

    private void DeleteUsedOccasion(ICollection<UsedOccasion> steps, UsedOccasion toRemove)
    {
        steps.Remove(toRemove);
    }

}