@using RecipeBook.Core.Domain.Recipes

<div class="ms-5">
    <FetchList TItem="Step"
               Context="steps"
               Url="@($"/api/v1/recipes/{RecipeName}/steps")">
        <Header>
            <h2>Steg</h2>
        </Header>
        <ItemsTemplate>
            <ol class="no-style ps-2">
                @foreach (Step step in steps)
                {
                    @switch (step)
                    {
                        case TimeStep ts:
                            <StepView Url="@($"/api/v1/recipes/{RecipeName}/steps")"
                                      Step="@ts"
                                      SetSaving="@SetSaving">
                                <TimerView Duration="ts.Duration"/>
                            </StepView>
                            break;
                        default:
                            <StepView Url="@($"/api/v1/recipes/{RecipeName}/steps")"
                                      Step="@step"
                                      SetSaving="@SetSaving"/>
                            break;
                    }
                }
            </ol>
        </ItemsTemplate>
    </FetchList>
</div>

@code {
#nullable enable

    [Parameter]
    public string RecipeName { get; set; } = null!;

    [Parameter]
    public EventCallback<(string, LoadStatus)> SetSaving { get; set; } = EventCallback<(string, LoadStatus)>.Empty;

}